

.light{
  --default-white-color: #ffffff;
  --side-menu-blue-color: #0C2556;
  --common-text-color: #303030;
  --common-red-color: #FE346E;
  --common-yellow-color: #FFA41D;
  --trash-status-color: #D9D9D9;
  --common-blue-color: #2B63C0;
  --dashboard-back-color: #F8FAFC;
  --input-text-color: #8C8C8C;
}